tinkerforge:hosts=localhost
#tinkerforge:hosts=red-brick.local
tinkerforge:refresh=1000000

#tinkerforge:joystick.uid=egW
#tinkerforge:joystick.type=bricklet_linear_poti
#tinkerforge:joystick.callbackPeriod=1000
